//Imports
@font-face {
    font-family: "space-text";
    src: url("./public/fonts/space-text.ttf") format("truetype");
}


// general styles

body {
    margin: 0;
}


h1 {
    font-family: space-text;
}