//Imports
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Quicksand&display=swap');

// general styles

body {
    margin: 0;
    font-family: "quicksand";
    font-weight: 500;
}

h1,
h2,
h3 {
    font-family: "Concert One";
    letter-spacing: 2px;
}

button:not(.default) {
    border: none;
    padding: 10px;
    @apply bg-gradient-to-r from-secondary to-primary;
    border-radius: 10px;
    @apply text-base-100;
    font-family: "DM Sans";

    &:hover {
        @apply bg-gradient-to-r from-primary to-primary;
    }
}