//Imports
@font-face {
    font-family: "space-text";
    src: url("/fonts/space-text.ttf") format("truetype");
}


// general styles

body {
    margin: 0;
}

h1,
h2,
h3 {
    font-family: "space-text";
}

button {
    border: none;
    padding: 10px;
    @apply bg-gradient-to-r from-secondary to-primary;
    border-radius: 10px;
    @apply text-base-100;
    font-family: "DM Sans";

    &:hover {
        @apply bg-gradient-to-r from-primary to-primary;
        @apply shadow-[0_0_10px] shadow-secondary;
    }
}