nav {
    display: flex;
    align-items: center;
    justify-content: end;

    img {
        padding: 10px;
        object-fit: cover;
        filter: brightness(3);

        &:hover {
            filter: brightness(1);
        }
    }
}